<div class="container">
  <div class="row" *ngIf="product">
    <div class="col-6">
      <img
        src="{{ product.pictureUrl }}"
        alt="{{ product.name }}"
        class="w-100"
      />
    </div>
    <div class="col-6 mt-5">
      <h2>{{ product.name }}</h2>
      <p style="font-size: 2em">{{ product.price | currency }}</p>

      <h5 class="text-warning mb-3" *ngIf="quantityInBasket > 0">
        You have {{ quantityInBasket }} of this item in your basket
      </h5>
      <div class="d-flex justify-content-start align-items-center">
        <i
          (click)="decrementQuantity()"
          class="fa fa-minus-circle text-warning me-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <span class="font-weight-bold" style="font-size: 1.5em">{{
          quantity
        }}</span>
        <i
          (click)="incrementQuantity()"
          class="fa fa-plus-circle text-warning ms-2"
          style="cursor: pointer; font-size: 2em"
        ></i>
        <!-- secondary dispare pe disabled, nu si primary -->
        <button
          class="btn btn-outline-secondary ms-4"
          (click)="updateBasket()"
          [disabled]="quantity === quantityInBasket"
        >
          {{ buttonText }}
        </button>
      </div>
      <div class="row mt-4">
        <h4>Description</h4>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>
